@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Media queries mixins
desktop()
    @media (min-width: 640px)
        {block}
tablet()
    @media (max-width: 639px)
        {block}
mobile()
    @media (max-width: 479px)
        {block}

// Color tokens
$main-color = #FF5D8E
$grey-bg = #F7F7F7
$text-color = #000
// $notation-line = #BDBDBD
$notation-line = #C8C8C8
$bg = #fff

// // Dark theme
// $main-color = #FF5D8E
// $grey-bg = #1c1c1c
// $text-color = #fff
// $bg = #222

// Normalize
*
  margin 0
  padding 0

*,
*::after,
*::before {
	box-sizing: border-box;
}

html, body
    height 100%
    width 100%
    overflow-x hidden
    background-color $bg

h1
h2
h3
h4
h5
h6
p
a
    font-family: 'Poppins', sans-serif;
    color $text-color
    // &::selection
    //     background-color #F3F3F3
    //     color $blue
    //     text-decoration underline
    //     -webkit-tap-highlight-color rgba(0,0,0,0)


  
.song-card
    position relative
    margin 0 auto
    display block
    width 100%
    // +desktop()
    max-width 640px
    height 172px

    .song-name
        position relative
        top 40px
        left 24px
        font-size 20px

    .btn-play
        font-weight: 700
        position absolute
        top 37px
        right 16px
        height 24px
        width 74px
        background $main-color
        color white
        border-radius 40px
        border none

    .notation-frame
        position absolute
        padding 0 16px
        display grid
        grid-template-columns repeat(16, 1fr);
        top 74px
        width 100%
        height 88px
        background $grey-bg
        &.active
            background: #FAF0F3;
        &.active:after
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 2px solid $main-color;
            +desktop()
                border-radius: 5px;
            +tablet()
                border-radius: 0px;
                border-right none
                border-left none
        +tablet()
            border-radius 0
        +desktop()
            border-radius 10px

        .highlighted
            background: #FAF0F3;
            :after
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 5px;
                border: 2px solid $main-color;

    .notation-note
        position relative
        align-items center
        align-self center
        width 100%
        height 100%

    .notation-horizontal-line
        position absolute
        height 1px
        width 100%
        background $notation-line
        top 50%
        align-items center
        align-self center
    
    .notation-vertical-line
        position absolute
        height 50%
        width 4%
        top 25%
        left 48%
        background $notation-line
        &.active
            background $main-color

    .notation-note-circle
        position relative
        width 15px
        height 15px
        border-radius 50px
        background $text-color
        margin 0 auto
        box-shadow: 0 0 1px 0px white inset
        &.active
            background $main-color

    .Dun
        top 66%
    .Gun
        top 66%
    .do
        top 42%
    .go
        top 42%
    .Ta
        top 20%
    .Pa
        top 20%
    .xx
        display none

