.debug 
    .song-card,.topbar
        opacity 1 !important
    
    
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

// Media queries mixins
desktop()
    @media (min-width: 640px)
        {block}
tablet()
    @media (max-width: 639px)
        {block}
mobile()
    @media (max-width: 479px)
        {block}

// Normalize
*
  margin 0
  padding 0
//   transition all .2s 

*,
*::after,
*::before 
    box-sizing border-box
    -webkit-tap-highlight-color:transparent;

*:focus 
    outline none

*.hidden
    display none !important

// Color tokens
body
    --bg-color #fff    
    --text-color #222
    --logo-note-color #fff
    --note-color #000
    --notation-line-color #C8C8C8
    --notation-bg-color #F6F6F6
    --notation-bg-hover-color  #ECECEC
    --notation-bg-active-color #FAF0F3
    --primary-color-regular #FF5D8E
    --primary-color-light #FFBBD0
    --topbar-color rgba(255,255,255,.7)
    --notation-frame-border none
    --notation-number rgba(0,0,0,.7)
    --notation-number-active #824759
    --scrollbar-color #d3d3d3
    --hjFeedbackAccentColor #ffffff !important

    &.dark-theme
        // --bg-color: #1F1B2B
        --bg-color: rgb(31,27,43)
        --text-color #fff
        --note-color #fff
        --logo-note-color #fff
        --notation-line-color #352C38
        --notation-bg-color #1D1A29
        --notation-bg-hover-color #181622
        --notation-bg-active-color #261B2B
        --primary-color-regular #FF705D
        --primary-color-light #FFB0A6
        --topbar-color rgba(31,27,43,.7)
        --notation-frame-border 1px solid var(--notation-line-color)
        --notation-number rgba(255, 255, 255, .5)
        --notation-number-active #ffbcd1
        --scrollbar-color #100D1B

html, body
    height 100%
    width 100%
    overflow-x hidden
    background var(--bg-color)
    

h1
h2
h3
h4
h5
h6
p
a
    font-family: 'Poppins', sans-serif;
    color var(--text-color)
    font-weight 400
    // &::selection
    //     background-color #F3F3F3
    //     color $blue
    //     text-decoration underline
    //     -webkit-tap-highlight-color rgba(0,0,0,0)




.container
    position relative
    margin 0 auto
    +desktop()
        width 80%
        max-width 900px
    +mobile()
        width 100%

.song-list
    margin-top 40px

.preload
    .song-card
        opacity 0

// .preload
//     .notation-note-circle
//         transform scale(0)

.preload.topbar
    opacity 0

.song-card
    width 100%
    position relative
    margin 0 auto
    display block
    padding-top 40px
    // height 172px
// .detailed .song-card
    // height 192px


.song-name
    position relative
    left 24px
    font-size 20px

.btn-play
    font-weight: 700
    position absolute
    top 37px
    right 16px
    height 24px
    width 74px
    background var(--primary-color-regular)
    color white
    border-radius 40px
    border none
    
.measure
    width 100%
    // height 88px
    display grid
    grid-template-rows 0px 88px;

.detailed .measure
    grid-template-rows 20px 88px;

// Simple time signatures
.measure.two-four
    grid-template-columns repeat(8, 1fr);
.measure.three-four
    grid-template-columns repeat(12, 1fr);
.measure.four-four
    grid-template-columns repeat(16, 1fr);
// Compound time signatures
.measure.six-eight
    grid-template-columns repeat(24, 1fr);
.measure.nine-eight
    grid-template-columns repeat(18, 1fr);
.measure.twelve-eight
    grid-template-columns repeat(24, 1fr);
// Complex time signatures
.measure.five-four
    grid-template-columns repeat(10, 1fr);
// Made up time signatures
.measure.seven-four
    grid-template-columns repeat(14, 1fr);
    
.one-bar
    grid-template-columns repeat(1, 1fr);
.two-bars
    grid-template-columns repeat(1, 1fr);
.three-bars
    grid-template-columns repeat(1, 1fr);
.four-bars
    grid-template-columns repeat(8, 1fr);



.notation-frame
    display grid
    position relative
    margin-top 10px
    width 100%
    background var(--notation-bg-color)
    .MuiButton-label
        padding 0 16px
        display grid
        grid-template-columns repeat(1, 1fr);
    +desktop()
        border var(--notation-frame-border)
    +mobile()
        border-radius 0
        border-top var(--notation-frame-border)
        border-bottom var(--notation-frame-border)
    &:hover
        cursor pointer
        background var(--notation-bg-hover-color)
    &.active
        background var(--notation-bg-active-color)
    &.active:after
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 2px solid var(--primary-color-regular)
        +desktop()
            border-radius: 5px;
        +tablet()
            border-radius: 0px;
            border-right none
            border-left none
    +tablet()
        border-radius 0
    +desktop()
        border-radius 10px
        
    .highlighted
        background: #FAF0F3;
        :after
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 5px;
            border: 2px solid var(--primary-color-regular)





.notation-note
    position relative
    // height 88px

.notation-number
    font-family: 'Poppins', sans-serif;
    opacity 0
    text-align center
    color var(--notation-number)
    font-size: 12px
    margin-top 10px
    display inline-block
    width 100%

.active .notation-number
    color var(--notation-number-active)

.detailed .notation-number
    opacity 1

.notation-horizontal-line
    position absolute
    height 1px
    width 100%
    background var(--notation-line-color)
    top 50%
    align-items center
    align-self center

.notation-vertical-line
    position absolute
    height 50%
    width 4%
    top 25%
    left 48%
    background var(--notation-line-color)
    &.active
        background var(--primary-color-regular)




// .detailed .notation-frame
//     height 108px


.notation-note-circle
    position relative
    width 15px
    height 15px
    border-radius 50px
    background var(--text-color)
    margin 0 auto
    // box-shadow: 0 0 1px 0px white inset

.Dun
    top 66%
.Gun
    top 66%
.do
    top 42%
.go
    top 42%
.Ta
    top 18%
.Pa
    top 18%
.Ca
    top 18%
    background var(--notation-bg-color)
    border 2px solid var(--text-color)
    &::after
        content ""
        width 3px
        height 3px
        left 4px
        top 4px
        position absolute
        background var(--text-color)
        border-radius 50px
.dos
    top 42%
    background var(--notation-bg-color)
    border 2px dotted var(--text-color)

.gos
    top 42%
    background var(--notation-bg-color)
    border 2px dotted var(--text-color)
    // border 2px dashed var(--text-color)

.xx
    display none

.active .Ca
    background var(--notation-bg-color)

// .logo
//         *
//             transition width .5s, margin .5s, top .5s, left .5s

.topbar
    position fixed
    max-width 900px
    width 100%
    height 56px
    z-index 10
    background var(--topbar-color)
    backdrop-filter blur(10px)
    
    +desktop()
        top 0
    +mobile()
        bottom 0
        box-shadow: 0px -15px 35px rgba(52, 58, 67, 0.08), 0px -5px 15px rgba(0, 0, 0, 0.08), 0px 0px 2px rgba(0, 0, 0, 0.1);
        display grid
        grid-template-columns repeat(6, 1fr)
        grid-template-rows: 1fr;
    
    .btn-topbar
        +desktop()
            float right
            right 0
        +mobile()
            height 64px
        padding 0
        border 0
        border-radius 100%
        background transparent
        svg
            fill var(--note-color)



    .logo
        +mobile()
                display none


        display inline-block
        position relative
        &:hover
            cursor pointer

        .logotype
            display inline-block
            position absolute
            svg 
                fill var(--text-color)
                width 137px
            +mobile()
                display none

        .logomark-wrapper
            display inline-block
            top 0
            margin 0
            position relative

        .logomark
            position relative
            display grid
            grid-template-columns repeat(4,1fr)
            grid-column-gap 4% 
            background var(--primary-color-regular)
            +desktop()
                // top -21px
                padding 7px
                margin 16px 16px 16px 0
                width 46px
                height 30px
                border-radius 10px
            +tablet()
                padding 7px
                margin 16px
                width 46px
                height 30px
                border-radius 10px
            &:hover
                cursor pointer

        .Ca
            border none 
            &::after
                content: none

.slider
    +mobile()
        left 15px
        top -260px
        padding 0 !important
    
// .volume-wrapper
//     +mobile()
//         display none !important

.btn-volume
    float right
    right 0
    margin-top 8px 
    border 0
    border-radius 100%
    background transparent
    +mobile()
        margin-right 24px
    svg
        fill var(--note-color)

    
.btn-bpm
    +desktop()
        float right
        right 0
    margin-top 8px 
    border 0
    border-radius 100%
    background transparent
    +mobile()
        display none
        margin-right 24px
    svg
        fill var(--note-color)


.sliderButton
    +desktop()
        float right
        right 0
    width 48px
    height 200px
    // border-radius 100%
    margin-top 0 !important
    margin-left 16px !important

.btn-rounded
    border-radius 100%
    display: block;
    padding: 0;


.logo-big
    +desktop()
        display none
    margin-top 80px
    .logotype
        display block
        +desktop()
            margin 40px auto 0px
        +tablet()
            margin 20px auto 0px
            width 200px
            height auto
        
        svg 
            fill var(--text-color)
            +tablet()
                width 200px
    .logomark
        text-align center
        display grid
        grid-template-columns repeat(4,1fr)
        grid-column-gap 4% 
        background var(--primary-color-regular)
        +desktop()
            padding 16px
            margin 0 auto 
            width 168px
            height 108px
            border-radius 35px
        +tablet()
            padding 10px
            margin 0 auto
            width 108px
            height 68px
            border-radius 20px
        

.logomark-note
    // width 16px
    // height 16px
    width 100%
    padding-top 100%
    border-radius 100%
    justify-self center
    &.Dun
        background var(--logo-note-color)
        align-self end
    &.Gun
        background var(--logo-note-color)
        align-self end
    &.Ca
        // outline  4px solid --bg-color
        position relative
        align-self start
        background var(--logo-note-color)

        // background var(--primary-color-regular)
        // box-shadow: inset 0 0 0 1px var(--logo-note-color)
        // &::after
        //     content ""
        //     position absolute
        //     display block
        //     background var(--logo-note-color)
        //     border-radius 100%
        //     width 30%
        //     height 30%
        //     top 30%
        //     left 30%
    

// Scrollbar
+desktop()
    ::-webkit-scrollbar {
        width: 15px;
        right 10px
    }
    ::-webkit-scrollbar-track {
    //   background: var(--bg-color)
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius 20px
        background: var(--scrollbar-color)
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }


.slider
    +mobile()
        left 15px
        top -260px
        padding 0 !important
    
// .volume-wrapper
//     +mobile()
//         display none !important

.btn-volume
    float right
    right 0
    margin-top 8px 
    border 0
    border-radius 100%
    background transparent
    +mobile()
        margin-right 24px
    svg
        fill var(--note-color)

    
.btn-bpm
    +desktop()
        float right
        right 0
    margin-top 8px 
    border 0
    border-radius 100%
    background transparent
    +mobile()
        display none
        margin-right 24px
    svg
        fill var(--note-color)


.sliderButton
    +desktop()
        float right
        right 0
    width 48px
    height 200px
    // border-radius 100%
    margin-top 0 !important
    margin-left 16px !important

.btn-rounded
    border-radius 100%
    display: block;
    padding: 0;


.extra-info
    font-family: 'Poppins', sans-serif;
    font-weight: 400
    color var(--text-color)
    margin-top 8px
    margin-left 24px
    opacity .3
    
    *
        display inline-block
        margin-right 40px


.MuiSlider-root
    color var(--primary-color-regular) !important

.MuiButton-root:hover 

.MuiTouchRipple-root
    color var(--primary-color-regular) !important
    // color var(--note-color) !important



// ._hj_feedback_container
//     *
//         transform translateY(-50%) !important